#root {
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 540px) {
  #root {
    width: 1080px;
    padding: 0;
  }
}

main, body{
  background-color: var(--color-bg);
  /* background: var(--bg-image); */
  color: var(--color-text);
}

.dark-mode-button{
  background-color: var(--color-text);
  color: var(--color-bg);
}

.dark-mode-button-inverse{
  background-color: var(--color-bg);
  color: var(--color-text);
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}